---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"name":"dummy"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token secret_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1439207667'
      Etag:
      - '"cab331d6d978f949dda41f34f7860b00"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - c8e25bd6758672da4847
      Location:
      - https://api.github.com/repos/martinciu/dummy
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"id":40479475,"name":"dummy","full_name":"martinciu/dummy","owner":{"login":"martinciu","id":34633,"avatar_url":"https://avatars.githubusercontent.com/u/34633?v=3","gravatar_id":"","url":"https://api.github.com/users/martinciu","html_url":"https://github.com/martinciu","followers_url":"https://api.github.com/users/martinciu/followers","following_url":"https://api.github.com/users/martinciu/following{/other_user}","gists_url":"https://api.github.com/users/martinciu/gists{/gist_id}","starred_url":"https://api.github.com/users/martinciu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/martinciu/subscriptions","organizations_url":"https://api.github.com/users/martinciu/orgs","repos_url":"https://api.github.com/users/martinciu/repos","events_url":"https://api.github.com/users/martinciu/events{/privacy}","received_events_url":"https://api.github.com/users/martinciu/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/martinciu/dummy","description":null,"fork":false,"url":"https://api.github.com/repos/martinciu/dummy","forks_url":"https://api.github.com/repos/martinciu/dummy/forks","keys_url":"https://api.github.com/repos/martinciu/dummy/keys{/key_id}","collaborators_url":"https://api.github.com/repos/martinciu/dummy/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/martinciu/dummy/teams","hooks_url":"https://api.github.com/repos/martinciu/dummy/hooks","issue_events_url":"https://api.github.com/repos/martinciu/dummy/issues/events{/number}","events_url":"https://api.github.com/repos/martinciu/dummy/events","assignees_url":"https://api.github.com/repos/martinciu/dummy/assignees{/user}","branches_url":"https://api.github.com/repos/martinciu/dummy/branches{/branch}","tags_url":"https://api.github.com/repos/martinciu/dummy/tags","blobs_url":"https://api.github.com/repos/martinciu/dummy/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/martinciu/dummy/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/martinciu/dummy/git/refs{/sha}","trees_url":"https://api.github.com/repos/martinciu/dummy/git/trees{/sha}","statuses_url":"https://api.github.com/repos/martinciu/dummy/statuses/{sha}","languages_url":"https://api.github.com/repos/martinciu/dummy/languages","stargazers_url":"https://api.github.com/repos/martinciu/dummy/stargazers","contributors_url":"https://api.github.com/repos/martinciu/dummy/contributors","subscribers_url":"https://api.github.com/repos/martinciu/dummy/subscribers","subscription_url":"https://api.github.com/repos/martinciu/dummy/subscription","commits_url":"https://api.github.com/repos/martinciu/dummy/commits{/sha}","git_commits_url":"https://api.github.com/repos/martinciu/dummy/git/commits{/sha}","comments_url":"https://api.github.com/repos/martinciu/dummy/comments{/number}","issue_comment_url":"https://api.github.com/repos/martinciu/dummy/issues/comments{/number}","contents_url":"https://api.github.com/repos/martinciu/dummy/contents/{+path}","compare_url":"https://api.github.com/repos/martinciu/dummy/compare/{base}...{head}","merges_url":"https://api.github.com/repos/martinciu/dummy/merges","archive_url":"https://api.github.com/repos/martinciu/dummy/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/martinciu/dummy/downloads","issues_url":"https://api.github.com/repos/martinciu/dummy/issues{/number}","pulls_url":"https://api.github.com/repos/martinciu/dummy/pulls{/number}","milestones_url":"https://api.github.com/repos/martinciu/dummy/milestones{/number}","notifications_url":"https://api.github.com/repos/martinciu/dummy/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/martinciu/dummy/labels{/name}","releases_url":"https://api.github.com/repos/martinciu/dummy/releases{/id}","created_at":"2015-08-10T11:40:15Z","updated_at":"2015-08-10T11:40:15Z","pushed_at":"2015-08-10T11:40:15Z","git_url":"git://github.com/martinciu/dummy.git","ssh_url":"git@github.com:martinciu/dummy.git","clone_url":"https://github.com/martinciu/dummy.git","svn_url":"https://github.com/martinciu/dummy","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Mon, 10 Aug 2015 11:40:15 GMT
recorded_with: VCR 2.9.3
