---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1439207667'
      Last-Modified:
      - Mon, 10 Aug 2015 10:55:55 GMT
      Etag:
      - W/"042a9d0856271ce4339ffc8e387e33be"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - c8e25bd6758672da4847
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"martinciu","id":34633,"avatar_url":"https://avatars.githubusercontent.com/u/34633?v=3","gravatar_id":"","url":"https://api.github.com/users/martinciu","html_url":"https://github.com/martinciu","followers_url":"https://api.github.com/users/martinciu/followers","following_url":"https://api.github.com/users/martinciu/following{/other_user}","gists_url":"https://api.github.com/users/martinciu/gists{/gist_id}","starred_url":"https://api.github.com/users/martinciu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/martinciu/subscriptions","organizations_url":"https://api.github.com/users/martinciu/orgs","repos_url":"https://api.github.com/users/martinciu/repos","events_url":"https://api.github.com/users/martinciu/events{/privacy}","received_events_url":"https://api.github.com/users/martinciu/received_events","type":"User","site_admin":false,"name":"Marcin
        Ciunelis","company":"http://jobandtalent.com","blog":"http://martinciu.com","location":"Barcelona,
        Spain","email":"marcin.ciunelis@gmail.com","hireable":true,"bio":null,"public_repos":83,"public_gists":7,"followers":29,"following":88,"created_at":"2008-11-15T15:23:35Z","updated_at":"2015-08-10T10:55:55Z","private_gists":19,"total_private_repos":10,"owned_private_repos":10,"disk_usage":18209,"collaborators":1,"plan":{"name":"small","space":976562499,"collaborators":0,"private_repos":10}}'
  recorded_at: Mon, 10 Aug 2015 11:37:29 GMT
[...]
