---
http_interactions:
- request:
    method: get
    uri: https://api.moves-app.com/api/1.1/user/summary/daily/20150818
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret
      X-Client:
      - ApiMapper-v0.3.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Hourremaining:
      - '1996'
      Last-Modified:
      - Tue, 18 Aug 2015 14:04:07 GMT
      Etag:
      - W/"2051ca0b6e46611a5e4d23692adcae69"
      X-Ratelimit-Hourlimit:
      - '2000'
      X-Ratelimit-Minuteremaining:
      - '57'
      X-Ratelimit-Minutelimit:
      - '60'
    body:
      encoding: UTF-8
      string: '[{"date":"20150818","summary":[{"activity":"walking","group":"walking","duration":902.0,"distance":922.0,"steps":1259,"calories":52}],"caloriesIdle":1634,"lastUpdate":"20150818T140407Z"}]'
  recorded_at: Thu, 20 Aug 2015 21:12:49 GMT
recorded_with: VCR 2.9.3
