---
http_interactions:
- request:
    method: get
    uri: https://api.moves-app.com/api/1.1/user/summary/daily/201507
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret
      X-Client:
      - ApiMapper-v0.3.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Hourremaining:
      - '1997'
      Last-Modified:
      - Sat, 01 Aug 2015 11:20:02 GMT
      X-Ratelimit-Hourlimit:
      - '2000'
      X-Ratelimit-Minuteremaining:
      - '58'
      X-Ratelimit-Minutelimit:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20150701","summary":[{"activity":"walking","group":"walking","duration":4744.0,"distance":5112.0,"steps":6774,"calories":290},{"activity":"transport","group":"transport","duration":1179.0,"distance":4661.0}],"caloriesIdle":1634,"lastUpdate":"20150702T103044Z"},{"date":"20150702","summary":[{"activity":"walking","group":"walking","duration":7007.0,"distance":7303.0,"steps":9835,"calories":414},{"activity":"transport","group":"transport","duration":11352.0,"distance":674967.0},{"activity":"running","group":"running","duration":150.0,"distance":232.0,"steps":306,"calories":17}],"caloriesIdle":1634,"lastUpdate":"20150702T230539Z"},{"date":"20150703","summary":[{"activity":"walking","group":"walking","duration":2464.0,"distance":2387.0,[...]
