---
http_interactions:
- request:
    method: get
    uri: https://api.moves-app.com/api/1.1/user/summary/daily/2015-W10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer JUl5GCubYSBq_ThY7QGXQQ63eR_66Ok3c80Uq2LS0GD5TXQer2e720HhE4oi6cX_
      X-Client:
      - ApiMapper-v0.3.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Hourremaining:
      - '1992'
      Last-Modified:
      - Sun, 08 Mar 2015 22:48:52 GMT
      X-Ratelimit-Hourlimit:
      - '2000'
      X-Ratelimit-Minuteremaining:
      - '59'
      X-Ratelimit-Minutelimit:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20150302","summary":[{"activity":"walking","group":"walking","duration":4721.0,"distance":5395.0,"steps":7323,"calories":306},{"activity":"transport","group":"transport","duration":2694.0,"distance":13371.0}],"caloriesIdle":1634,"lastUpdate":"20150303T134044Z"},{"date":"20150303","summary":[{"activity":"walking","group":"walking","duration":5444.0,"distance":6385.0,"steps":8285,"calories":362}],"caloriesIdle":1634,"lastUpdate":"20150304T204840Z"},{"date":"20150304","summary":[{"activity":"walking","group":"walking","duration":8078.0,"distance":9512.0,"steps":12880,"calories":540},{"activity":"transport","group":"transport","duration":3706.0,"distance":26419.0}],"caloriesIdle":1634,"lastUpdate":"20150305T012104Z"},{"date":"20150305",[...]
