---
http_interactions:
- request:
    method: get
    uri: https://api.moves-app.com/api/1.1/user/summary/daily?pastDays=23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer JUl5GCubYSBq_ThY7QGXQQ63eR_66Ok3c80Uq2LS0GD5TXQer2e720HhE4oi6cX_
      X-Client:
      - ApiMapper-v0.3.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Hourremaining:
      - '1993'
      Last-Modified:
      - Thu, 20 Aug 2015 20:22:13 GMT
      X-Ratelimit-Hourlimit:
      - '2000'
      X-Ratelimit-Minuteremaining:
      - '59'
      X-Ratelimit-Minutelimit:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20150729","summary":[{"activity":"walking","group":"walking","duration":5751.0,"distance":6779.0,"steps":9276,"calories":385},{"activity":"transport","group":"transport","duration":4536.0,"distance":34441.0}],"caloriesIdle":1634,"lastUpdate":"20150730T001745Z"},{"date":"20150730","summary":[{"activity":"walking","group":"walking","duration":5305.0,"distance":5809.0,"steps":7851,"calories":330},{"activity":"transport","group":"transport","duration":5926.0,"distance":38124.0}],"caloriesIdle":1634,"lastUpdate":"20150731T101649Z"},{"date":"20150731","summary":[{"activity":"walking","group":"walking","duration":3797.0,"distance":4322.0,"steps":5575,"calories":245},{"activity":"transport","group":"transport","duration":14126.0,"distance":[...]
